select {
  color: white;
  padding: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: #00CFFF25;
  border: 1px solid gray;
}

.box-componente {
  border-radius: 10px;
  background-color: #00CFFF25;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.box-componente input {
  height: 20px;
  width: 20%;
}

.header-recursos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.box-recursos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box-recursos p {
  margin: 0px;
}

.linha-porcentagem {
  background-color: gray;
  border: #2A4050 1px solid;
  border-radius: 10px;
  height: 10px;
}

.footer-recursos {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header-recursos {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .box-componente {
    flex-wrap: wrap;
    gap: 10px;
  }
}
