.servidor-pai {
  width: 100%;
  overflow: hidden;
}

.servidor-pai svg {
  width: 100%;
  max-width: 323px;
  height: auto;
  display: block;
}

.container {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

img {
  width: 20px;
  height: 20px;
}

.pg2 {
  width: 45%;
}

#voltar {
  background-color: #ffffff07;
  border: 1px solid gray;
  color: white;
}

.continuar-cadastro {
  gap: 10px;
}

.etapas {
  max-width: 100%;
  height: auto;
}

.radios input:checked + label {
  border: #00CFFF 1px solid;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .pg2 {
    width: 100%;
  }
}
