.progresso {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border-bottom: 1px solid gray;
  padding: 20px;
}

.progresso p {
  margin: 0px;
}

.progresso img {
  height: 25px;
  width: 25px;
}

#logo_user {
  height: 25px;
  width: 25px;
}

.linha {
  height: 2px;
  border-radius: 1px;
  background-color: gray;
  width: 100px;
}

.linha2 {
  height: 2px;
  border-radius: 1px;
  background-color: #00CFFF;
  width: 100px;
}

.linha-identificacao {
  display: flex;
  align-items: center;
  color: #00CFFF;
  width: 80%;
}

.linha-identificacao p {
  margin: 0px;
}

.input-server {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

select {
  color: white;
  padding: 3px;
  width: 20%;
  border-radius: 5px;
  background-color: #00CFFF25;
  border: 1px solid gray;
}

select option {
  background-color: #1a252f;
  color: #ffffff;
  font-family: sans-serif;
}

.container-adicionar img {
  height: 20px;
  width: auto;
}

.alinhar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.linha-componente {
  display: flex;
  height: 30px;
  gap: 20px;
  align-items: center;
  background-color: #ffffff07;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 20px;
  justify-content: space-between;
}

.especificacao-componente {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 13px;
  justify-content: center;
}

.especificacao-componente p {
  margin: 0px;
}

.titulo-componentes {
  color: white;
  display: flex;
}

.titulo-componentes p {
  margin-right: 10%;
}

.juncao {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.juncao p {
  font-size: 0.8vw;
  text-align: start;
  margin: 0px;
}

.juncao input {
  width: 100%;
}

.juncao select {
  width: 100%;
}

.adicionar-server {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #00CFFF;
}

#voltar {
  background-color: #ffffff07;
  border-radius: 5px;
  border: 1px solid gray;
  color: white;
}

#adicionar-recurso {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  color: #00CFFF;
  border: #00CFFF 2px dotted;
  background-color: #2A4050;
}

.insert-forms {
  width: 80%;
}

.forms {
  border-radius: 10px;
}

.header-forms {
  align-items: center;
}

#alinhar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input::placeholder {
  color: lightgrey;
}

.componentes {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #00CFFF;
}

@media (max-width: 768px) {
  .progresso {
    flex-wrap: wrap;
  }

  .linha-componente {
    flex-wrap: wrap;
    height: auto;
  }

  .especificacao-componente {
    flex-wrap: wrap;
  }

  select {
    width: 100%;
  }

  .juncao p {
    font-size: 14px;
  }
}
