body{
    display: flex;
    flex-direction: row;
    
}
.container-main{
    width: 100vw;
    height: 100vh;
}

.header{
    width: 100vw;
    height: 9vh;
    background-color: #0D101780;
    border-bottom: solid 1px #00CFFF30;
}

.box-titulo{
    width: 57vw;
    height: 9vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.main{
    width: 100vw;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

.titulo{
    color: #90E5F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5vw;
    gap: 10px;
}

.risco{
    height: 4vh;
    width: 3px;
    background-color: #00CFFF;
    border-radius: 10px;
}

.container-gerenciamento{
    width: 85vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.boxes-funcionario{
    height: 70vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8vw;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #3a5a78 transparent;
}

.box-crud{
    height: 70vh;
    width: 55vw;
    background-color: #1e3040;
    border-radius: 20px;
    border: solid 1px #00CFFF;
}

.box-funcionario{
    width: 18vw;
    height: 6vw;
    background-color: #1e3040;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
}

.circulo-iniciais{
    background-color: #90e5f910;
    width: 3vw;
    height: 3vw;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #00CFFF;
}

.infos-escritas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.cargo-servidor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
}

.cargo-admin{
    font-size: 1vw;
    width: 4vw;
    height: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #FFA50020;
    color: #FFA500;
}

.cargo-usuario{
    font-size: 1vw;
    width: 4vw;
    height: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #90e5f9;
    background-color: #00CFFF20;

}
.servidor{
    display: flex;
    font-size: 1vw;
}

.head-crud{
    border-bottom: #00CFFF solid 1px;
    height: 10vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.crud-identificacao{
    width: 18vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2vw;
}

.email-funcionario{
    font-size: 1vw;
}

.identficacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circulo-iniciais-crud{
    width: 3.6vw; 
    height: 3.6vw;
    background-color: #90e5f910;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #00CFFF;
}

.servidor-crud{
    width: 8vw;
    height: 2vw;
    font-size: 1vw;
    color: #00CFFF;
    background-color: #90e5f910;
    border-radius: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
}